@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ayuga";
  src: url("/src/app/fonts/Ayuga.ttf");
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(270deg, #1e3c72, #2a5298, #3a607d);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

.star {
  background: radial-gradient(circle, #fff 0%, 40%, transparent 80%);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  position: absolute;
  border-radius: 50%;
  /* Tambahkan z-index untuk memastikan bintang terlihat di atas background */
  z-index: 10;
}
